{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Liste du panier
{% endblock %}

{% block body %}
	<div class='col-10 '>
		<a href="{{path('index')}}">
			<button class="btn ">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-backspace-fill " viewbox="0 0 16 16">
					<path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
				</svg>
			</button>
		</a>
	</div>
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 fw-bold">
			Liste du panier
		</h1>


		<div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
				<div class="table-responsive">
					<table class="table table-hover">

						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<thead>
								<tr class="fw-bold text-primary">
									<th scope="col">Désignation</th>
									<th scope="col">Prix
									</th>
									<th scope="col">Quantité</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							{% set qte = 0 %}
							{% set total = 0 %}
							{% for a in app.user.panier.ajouters %}
								{% if a.produits is not null %}
									<tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
										<td>{{ a.produits.nom }}</td>
										<td>{{ a.produits.prix}}
										</td>
										<td>
											<a href="{{path('panier',{'id':a.id,'action':'moins'})}}">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewbox="0 0 16 16">
													<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
												</svg>
											</a>
											<a href="#">
												{{ a.qte}}
											</a>
											<a href="{{path('panier',{'id':a.id,'action':'plus'})}}">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewbox="0 0 16 16">
													<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
												</svg>
											</a>
										</td>
										<td>{{ a.produits.prix * a.qte}}
										</td>
										{% set total = total + (a.produits.prix * a.qte) %}
										{% set qte = qte + a.qte %}
										<td>

											<a href="{{path('panier',{'id':a.id,'action':'supprimer'})}}">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
													<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
													<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
												</svg>
											</td>
										</td>
									</tr>
								{% endif %}
							{% endfor %}

						{% endif %}

					</table>

					<thead>
						<tr class="fw-bold text-primary text-center">
							<th scope="col">Quantité :</th>
							{{ qte }}
						</tr>
					</thead>

					<thead>
						<tr class="fw-bold text-primary text-center">
							<th scope="col">Total :</th>
							{{ total }}
						</tr>
					</thead>

					<div class="text-center  ">
						<a href="{{path('achatpanier')}}">
							<button class="btn btn-primary m-auto col-2 mt-0 mb-2 mx-0">
								Acheter
							</button>
						</a>
					</div>
				{% endblock %}
