<!doctype html>
<html lang="fr">
  <head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block stylesheets %}
    <!-- Bootstrap CSS -->
   <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet">
   {% endblock %}
    <title >{% block title %}LaspiFou - {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('index')}}"><img src="img/logo.png" width="65"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{path('index')}}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
          <div class="dropdown-menu">
      <a class="dropdown-item" href="{{path('produits')}}">Aspi Home</a>
            <a class="dropdown-item" href="#">Aspi Open</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Produits</a>
          <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Marques</a>
            <a class="dropdown-item" href="#">Sans fils</a>
            <a class="dropdown-item" href="#">Nouveaux</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Promos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Règles</a>
          <div class="dropdown-menu">
      <a class="dropdown-item" href="{{path('mentions')}}">Mentions légales</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('conditions')}}">Conditions d'utilisations</a>
          </div>
        </li>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clients</a>
          <div class="dropdown-menu">
      <a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('app_register')}}">S'inscrire</a>
          </div>
        </li>
        {% else %}
							<li class="nav-item">
								<a class="nav-link text-white" href="{{path('app_logout')}}">
								{{app.user.email}}	<i class="bi bi-x-circle-fill text-white"></i>
								</a>
							</li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Listes</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path('mentions')}}">Liste des contacts</a>
            <a class="dropdown-item" href="{{path('liste-produits')}}">Liste des produits</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Achats/Panier</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Rechercher">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</nav>

{% for message in app.flashes('notice') %}
			<h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
				{{ message }}
			</h2>
		{% endfor %}
   
    {% block body %}
    {% endblock %} 
   
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>